{% extends 'base/base.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
    <section class="section hero">
        <div class="container">
            <div class="row-content" style="text-align: right">
                <h2 style="margin-right: 20px; margin-left: 10px;">تماس با ما</h2>

                <h5 style="margin-right: 20px; margin-left: 10px;">ایمیل</h5>
                <p style="font-size: 30px; text-align: right; line-height: normal; margin-right: 20px; margin-left: 10px;">
                    address@gmail.com
                </p>

                <h5 style="margin-right: 20px; margin-left: 10px;">شماره تماس</h5>
                <p style="font-size: 30px; text-align: right; line-height: normal; margin-right: 20px; margin-left: 10px;">
                    + phone number
                </p>
            </div>
        </div>
    </section>
{% endblock content %}