{% extends 'base/base.html' %}
{% load static %}

{% block title %}ترازاد | ترجمه آزاد کتاب{% endblock %}

{% block content %}
<div class="row row-content">
    <div class="col-12 col-md-12 col-lg-6">
        <div class="hero-headline">ترجمه آزاد و گروهی کتاب ها</div>
        <div class="hero-action">
            <a href="{% url 'accounts:register' %}" class="btn btn--gradient" data-scroll="scrollTo">به مترجمان بپیوندید</a>
            <span class="video-button">
                <a class="popup-video" href="https://www.youtube.com/watch?v=test">
                    <span class="player-text">معرفی</span>
                    <span class="btn-player"><img src="{% static 'home/images/video/player.svg' %}"
                            alt="video player"></span>
                </a>
            </span>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <div class="hero-img">
            <img class="img-fluid" src="{% static 'home/images/hero/hero.png' %}" alt="background">
        </div>
    </div>
</div>


<section id="feature1" class="section feature feature-center bg-white">
    <div class="container">
        <div class="row" dir="ltr">
            <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-1 text--center mb-80">
                    <h2 class="heading-title">
                        ترجمه منظم و گروهی کتاب ها به صورت کاملا آزاد
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Panel #1 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>مترجمان مشخص</h3>
                        <p>مترجمان در بازه مشخص شده در ترجمه کتاب عضو می شوند و در زمان مشخص شده
                            شروع به ترجمه کتاب می کنند. </p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Panel #2 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>تضمین تعداد مترجمان</h3>
                        <p>برای ترجمه هر کتاب، حداقل تعداد مترجمان تعریف می شود و فرایند ترجمه تنها زمانی شروع می شود که
                            حداقل تعداد مترجمان هر کتاب، برای ترجمه عضو شده باشند.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Panel #3 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>رتبه بندی مترجمان</h3>
                        <p>پس از بررسی هر ترجمه، به آن ترجمه نمره داده می شود و مترجمان بر اساس این نمره و همچنین تعداد مشارکت ها
                            رتبه بندی می شوند و مترجمان با نمره پایین، از لیست مترجمان حذف می شوند.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

{% include 'books/books_list.html' %}

{% endblock content %}