{% extends 'base/base.html' %}
{% load jalali_tags %}
{% load static %}

{% block title %}ترازاد | ترجمه آزاد کتاب{% endblock %}

{% block content %}
<div class="row row-content">
    <div class="col-12 col-md-12 col-lg-6">
        <div class="hero-headline">ترجمه آزاد و گروهی کتاب ها</div>
        <div class="hero-action">
            <a href="{% url 'accounts:register' %}" class="btn btn--gradient" data-scroll="scrollTo">به مترجمان بپیوندید</a>
            <span class="video-button">
                <a class="popup-video" href="https://www.youtube.com/watch?v=test">
                    <span class="player-text">معرفی</span>
                    <span class="btn-player"><img src="{% static 'home/images/video/player.svg' %}"
                            alt="video player"></span>
                </a>
            </span>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <div class="hero-img">
            <img class="img-fluid" src="{% static 'home/images/hero/hero.png' %}" alt="background">
        </div>
    </div>
</div>


<section id="feature1" class="section feature feature-center bg-white">
    <div class="container">
        <div class="row" dir="ltr">
            <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-1 text--center mb-80">
                    <h2 class="heading-title">
                        ترجمه منظم و گروهی کتاب ها به صورت کاملا آزاد
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Panel #1 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>مترجمان مشخص</h3>
                        <p>مترجمان در بازه مشخص شده در ترجمه کتاب عضو می شوند و در زمان مشخص شده
                            شروع به ترجمه کتاب می کنند. </p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Panel #2 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>تضمین تعداد مترجمان</h3>
                        <p>برای ترجمه هر کتاب، حداقل تعداد مترجمان تعریف می شود و فرایند ترجمه تنها زمانی شروع می شود که
                            حداقل تعداد مترجمان هر کتاب، برای ترجمه عضو شده باشند.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <!-- Panel #3 -->
            <div class="col-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3>رتبه بندی مترجمان</h3>
                        <p>پس از بررسی هر ترجمه، به آن ترجمه نمره داده می شود و مترجمان بر اساس این نمره و همچنین تعداد مشارکت ها
                            رتبه بندی می شوند و مترجمان با نمره پایین، از لیست مترجمان حذف می شوند.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<!-- books section -->
<link rel="stylesheet" href="{% static 'books/css/style.css' %}">

<h2 align="right">کتاب ها</h2><br>

<div class="row">
    {% for book in books %}
      {% if forloop.counter0|divisibleby:3 and forloop.counter0 > 1 %}
        </div> <!-- Close the current row -->
        <div class="row"> <!-- Start a new row -->
      {% endif %}

      <div class="col-md-4">
        <div class="card mb-4">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="{{ book.cover_image.url }}"
              alt="Card image cap">
          </div>
          <!-- Card content -->
          <div class="card-body">
            <h4 class="card-title">{{ book.name }}</h4><br><br>
            {% if book.status == 'translated' %}
                <small class="book-detail">تعداد مترجمان مشارکت کرده: {{ book.translators.count }}</small><br><br>
                <small class="book-detail">تاریخ اتمام ترجمه: {{ book.translated_date|to_jalali:'%Y/%m/%d' }}</small><br><br>
            {% else %}
                <small class="book-detail">حداقل تعداد مترجمان برای شروع: {{ book.min_translators }}</small><br><br>
                <small class="book-detail">تعداد مترجمان عضو شده: {{ book.translators.count }}</small><br><br>
            {% endif %}

            {% if book.status == 'translated' %}
                <div class="download-buttons" id="download-buttons" style="display: flex; justify-content: space-between;">
                {% if book.translated_pdf_file %}
                    <a href="{{ book.translated_pdf_file.url }}" style="display: inline-block;">
                        <button style="padding: 1px 10px 10px 10px; font-size: 18px" type="button" id="pdf-download" class="btn btn-primary btn-md full-width-button">دانلود PDF</button>
                    </a>
                    <br>
                {% endif %}

                {% if book.translated_md_file %}
                    <a href="{{ book.translated_md_file.url }}" style="display: inline-block;">
                        <button style="padding: 1px 10px 10px 10px; font-size: 19px" type="button" id="download" class="btn btn-primary btn-md full-width-button">دانلود Markdown</button>
                    </a>
                {% endif %}
                </div>
            {% elif book.status == 'in-progress' %}
                <button type="button" id="in-progress" class="btn btn-primary btn-md">درحال ترجمه</button>
            {% else %}
                {% if user in book.translators.all %}
                    <button type="button" id="translating-date" class="btn btn-primary btn-md">
                        ترجمه این کتاب در تاریخ {{ book.translating_date|to_jalali:'%Y/%m/%d' }} شروع می شود
                    </button>
                {% else %}
                    <a href="{% url 'books:add_translator' book_id=book.id %}"><button type="button" class="btn btn-primary btn-md">عضویت در مترجمان</button></a>
                {% endif %}
            {% endif %}
          </div>
          <!-- Card content -->
        </div>
      </div>
    {% endfor %}
</div>

<script>
    // JavaScript to adjust button width
    var buttons = document.getElementById('download-buttons').querySelectorAll('.full-width-button');

    if (buttons.length === 1) {
        buttons[0].style.width = '160%';
    }
</script>
<!-- END books section -->

{% endblock content %}