<!DOCTYPE html>
<html dir="rtl" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Multi-purpose Makerting html5 landing page">
    <link href="assets/images/favicon/favicon.ico" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
    ============================================= -->
    <link href="assets/css/external.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Document Title
    ============================================= -->
    <title>ترازاد | ترجمه آزاد</title>
</head>

<body class="body-scroll">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <!-- Header
============================================= -->
        <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
            <nav id="primary-menu" class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo logo-dark" src="assets/images/logo/logo.png" alt="Logo" style="max-width: 80px; max-height: 80px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toogle-inner"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="active"><a data-scroll="scrollTo" href="#hero">خانه</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">کتاب ها</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">مترجمان</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">انتخاب کتاب</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">حمایت</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">درباره ما</a>
                            </li>
                            <li><a data-scroll="scrollTo" href="#">تماس با ما</a>
                            </li>
                            <li></li>
                            <li>
                                <div style="margin-left: -150px; margin-top: 45px;">
                                    <a href="#"><button class="button" id="cut"><span>      عضویت</span></button></a>
                                    <a href="#"><button class="button" id="paste"><span>      ورود</span></button></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </header>
        <!-- Slider #1
============================================= -->
        <section id="hero" class="section hero">
            <div class="container">
                <div class="row row-content">
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-headline">ترجمه آزاد و گروهی کتاب ها</div>
                        <div class="hero-action">
                            <a href="#" class="btn btn--gradient" data-scroll="scrollTo">به مترجمان بپیوندید</a>
                            <span class="video-button">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=test">
                                    <span class="player-text">معرفی</span>
                                    <span class="btn-player"><img src="assets/images/video/player.svg"
                                            alt="video player"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-img">
                            <img class="img-fluid" src="assets/images/hero/hero.png" alt="background">
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #slider end -->

        
        <!-- Footer
============================================= -->
        <footer id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="footer-logo">
                                <img src="assets/images/logo/logo.png" alt="Logo"  style="max-width: 80px; max-height: 80px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-8">
                            <div class="footer-menu">
                                <a href="#">خانه</a>
                                <a href="#">کتاب ها</a>
                                <a href="#">مترجمان</a>
                                <a href="#">انتخاب کتاب</a>
                                <a href="#">حمایت</a>
                                <a href="#">درباره ما</a>
                                <a href="#">تماس با ما</a>
                            </div>
                        </div>
                    </div><!-- .row end -->
                    <div class="row" style="float: left; margin-bottom: 40px;">
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="footer-info">
                                <p>address@gmail.com</p>
                                <p>+ phone number</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="footer-social">
                                <a class="twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="github" href="#">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a class="instagram" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="google" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .container end -->
            </div>
        </footer>
    </div>
    <!-- #wrapper end -->

    <!-- Footer Scripts
	============================================= -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="https://kit.fontawesome.com/ade0b34805.js" crossorigin="anonymous"></script>
</body>

</html>