{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title%}</title>
    {% include 'base/base_ref.html' %}
</head>

<body class="body-scroll">
    <div id="wrapper" class="wrapper clearfix">
    {% include 'base/header.html' %}
    
    <section id="hero" class="section hero">
        <div class="container">

            {% block content %}{%  endblock content %}

        </div>
    </section>

    {% include 'base/footer.html' %}
    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <script src="{% static 'home/js/functions.js' %}"></script>
    <script src="{% static 'home/js/fontawesome/main.js' %}" crossorigin="anonymous"></script>
</body>