{% load static %}

<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer-logo">
                        <img src="{% static 'home/images/logo/logo.png' %}" alt="Logo"  style="max-width: 80px; max-height: 80px;">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="footer-menu">
                        <a href="{% url 'home:home_page' %}">خانه</a>
                        <a href="{% url 'books:books_list' %}">کتاب ها</a>
                        <a href="{% url 'home:translators_list' %}">مترجمان</a>
                        <a href="{% url 'home:support' %}">حمایت</a>
                        <a href="{% url 'home:about_us' %}">درباره ما</a>
                        <a href="{% url 'home:contact_us' %}">تماس با ما</a>
                    </div>
                </div>
            </div><!-- .row end -->
            <div class="row" style="float: left; margin-bottom: 40px;">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="footer-info">
                        <p>alihv00@gmail.com</p>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="footer-social">
                        <a class="twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="github" href="#">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="instagram" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="google" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
</footer>
