{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- Bulma is included -->
  <link rel="stylesheet" href="{% static 'dashboard/css/main.min.css' %}">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
  <nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
      </a>
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
          <a class="navbar-link is-arrowless">
            <div class="is-user-avatar">
              {% if user.avatar %}
                  <img src="{{ user.avatar.url }}" alt="{{ user.get_full_name }}">
              {% else %}
                  <img src="{% static 'home/images/icons/default-avatar.png' %}" alt="{{ user.get_full_name }}">
              {% endif %}
            </div>
            <div class="is-user-name"><span>&nbsp;علی حسین وردی</span></div>
            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'dashboard:profile' %}" class="navbar-item">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              <span>پروفایل</span>
            </a>
            <a href="{% url 'accounts:logout' %}" class="navbar-item">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>خروج</span>
            </a>
          </div>
        </div>
        <a href="{% url 'home:home_page' %}" title="Home" class="navbar-item has-divider">
          <span>صفحه اصلی</span>
        </a>
        <a href="{% url 'home:about_us' %}" title="About" class="navbar-item has-divider is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
          <span>درباره</span>
        </a>
        <a href="{% url 'accounts:logout' %}" title="Log out" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span>خروج</span>
        </a>
      </div>
    </div>
  </nav>
  <aside dir="ltr" class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div class="aside-tools-label">
        <span><b>ترازاد - </b> ترجمه آزاد کتاب</span>
      </div>
    </div>
    <div class="menu is-menu-main">
      <ul class="menu-list">
        <li>
          <a href="{% url 'dashboard:dashboard' %}" class="has-icon">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">داشبورد</span>
          </a>
        </li>
      </ul>
      <ul class="menu-list">
        <li>
          <a href="{% url 'dashboard:profile' %}" class="has-icon">
            <span class="icon"><i class="mdi mdi-account-circle"></i></span>
            <span class="menu-item-label">پروفایل</span>
          </a>
        </li>
        <li>
          <a href="{% url 'dashboard:dashboard' %}" class="has-icon">
            <span class="icon"><i class="mdi mdi-book-multiple"></i></span>
            <span class="menu-item-label">کتاب ها</span>
          </a>
        </li>
        <li>
          <a href="#" class="has-icon">
            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
            <span class="menu-item-label">ترجمه ها</span>
          </a>
        </li>
        <li>
          <a class="has-icon has-dropdown-icon">
            <span class="icon"><i class="mdi mdi-view-list"></i></span>
            <span class="menu-item-label">عملکرد</span>
            <div class="dropdown-icon">
              <span class="icon"><i class="mdi mdi-plus"></i></span>
            </div>
          </a>
          <ul>
            <li>
              <a href="#void">
                <span class="icon"><i class="mdi mdi-plus-minus"></i></span>
                <span>امتیاز</span>
              </a>
            </li>
            <li>
              <a href="#void">
                <span class="icon"><i class="mdi mdi-podium-gold"></i></span>
                <span>رتبه</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li>کاربر</li>
            <li>داشبورد</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {% block content %}{% endblock %}

</div>

<script type="text/javascript" src="{% static 'dashboard/js/main.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src={% static 'dashboard/js/chart.sample.min.js' %}></script>

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>
</html>
