{% extends 'dashboard/base.html' %}
{% load books_tags %}
{% load jalali_tags %}

{% block title %}داشبورد | کتاب های من{% endblock %}

{% block content %}

<section class="hero is-hero-bar">
<div class="hero-body">
  <div class="level">
    <div class="level-left">
      <div class="level-item"><h1 class="title">
        کتاب های من
      </h1></div>
    </div>
    <div class="level-right" style="display: none;">
      <div class="level-item"></div>
    </div>
  </div>
</div>
</section>
<section class="section is-main-section">
<div class="card has-table has-mobile-sort-spaced">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-book-multiple"></i></span>
      کتاب های من
    </p>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <div class="card-content">
    <div class="b-table has-pagination">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
          <thead>
          <tr>
            <th></th>
            <th style="text-align: right;">نام کتاب</th>
            <th style="text-align: right;">تعداد صفحات ترجمه شده</th>
            <th style="text-align: right;">تعداد صفحات باقی مانده</th>
            <th style="text-align: right;">وضعیت ترجمه کل کتاب</th>
            <th style="text-align: right;">مهلت ترجمه</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for book in books %}
          <tr>
            <td class="is-image-cell">
              <div class="image">
                <img class="is-rounded">
              </div>
            </td>
            <td data-label="نام کتاب">{{ book.name }}</td>
            <td data-label="تعداد صفحات ترجمه شده">{{ book.book_pages.all|translated_pages:user }}</td>
            <td data-label="تعداد صفحات باقی مانده">{{ book.book_pages.all|remain_pages:user }}</td>
            <td data-label="وضعیت ترجمه کل کتاب" class="is-progress-cell">
              <progress max="100" class="progress is-small is-primary" value="{{ book.in_progress_book.number_of_translated_pages_percentage }}"></progress>
            </td>
            <td data-label="مهلت ترجمه">
              <small class="has-text-grey is-abbr-like" title="Oct 25, 2020">{{ book.get_translating_deadline|to_jalali:'%Y/%m/%d' }}</small>
            </td>
            <td class="is-actions-cell">
              <div class="buttons is-right">
                <a href="{% url 'dashboard:book_pages' book.id %}">
                    <button class="button is-small is-primary" type="button">
                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                    </button>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}