{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}داشبورد | پروفایل{% endblock %}

{% block content %}

<section class="hero is-hero-bar">
    <div class="hero-body">
        <div class="level">
        <div class="level-left">
            <div class="level-item"><h1 class="title">
            پروفایل
            </h1></div>
        </div>
        <div class="level-right" style="display: none;">
            <div class="level-item"></div>
        </div>
        </div>
    </div>
</section>
<section class="section is-main-section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account default"></i></span>
                    پروفایل
                </p>
                </header>
                <div class="card-content">
                <div class="is-user-avatar image has-max-width is-aligned-center" style="height: 100px">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="{{ user.get_full_name }}" style="border-radius: 50%; height: 100%;">
                    {% else %}
                        <img src="{% static 'home/images/icons/default-avatar.png' %}" alt="{{ user.get_full_name }}">
                    {% endif %}
                </div>
                <hr>
                <div class="field">
                    <label class="label">نام</label>
                    <div class="control is-clearfix">
                        <p>{{ user.first_name }}</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">نام خانوادگی</label>
                    <div class="control is-clearfix">
                        <p>{{ user.last_name }}</p>
                    </div>
                    </div>
                <hr>
                <div class="field">
                    <label class="label">ایمیل</label>
                    <div class="control is-clearfix">
                    <p>{{ user.email }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-circle default"></i></span>
                    ویرایش پروفایل
                </p>
                </header>
                <div class="card-content">

                    <div id="loadingMessage" style="display: none;">درحال آپلود ...</div>
                    <div id="successMessage" style="display: none;">تغییرات با موفقیت ذخیره شد</div>
                    <br>

                    <form method="post" action="{% url 'accounts:change_info' %}" enctype="multipart/form-data" id="profileForm">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">آواتار</label></div>
                        <div class="field-body">
                            <div class="field">
                            <div class="field file">
                                <label class="upload control">
                                <a class="button is-primary">
                                    <span class="icon"><i class="mdi mdi-upload default"></i></span>
                                    <span>&nbsp;&nbsp;انتخاب فایل</span>
                                </a>
                                <input type="file" name="avatar" id="avatarInput">
                                </label>
                            </div>
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">نام</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input type="text" autocomplete="on" name="first_name" value="{{ user.first_name }}" class="input" required>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">نام خانوادگی</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input type="text" autocomplete="on" name="last_name" value="{{ user.last_name }}" class="input" required>
                            </div>
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                        <div class="field-label is-normal"></div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <button type="button" class="button is-primary" onclick="uploadAvatar()">
                                ثبت
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <br>
        <div style="text-align: right; font-size: 20px; margin-right: 24px; color: gray;">
            {% if messages %}
                {% for message in messages %}{{ message }}{% endfor %}
            {% endif %}
        </div>

        {% if form.errors %}
            <div style="text-align: right; font-size: 20px; margin-right: 24px; color: gray;">
                {% for error in form.error_messages %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-lock default"></i></span>
            تغییر رمز عبور
        </p>
        </header>
        <div class="card-content">
        <form method="post" action="{% url 'accounts:change_password' %}">
            {% csrf_token %}
            <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">رمز عبور فعلی</label>
            </div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    {{ form.old_password }}
                </div>
                <p class="help">رمز عبور فعلی خود را وارد کنید</p></div>
            </div>
            </div>
            <hr>
            <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">رمز عبور جدید</label>
            </div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    {{ form.new_password1 }}
                </div>
                <p class="help">رمز عبور جدید خود را وارد کنید</p>
                </div>
            </div>
            </div>
            <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">تایید رمز عبور</label>
            </div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    {{ form.new_password2 }}
                </div>
                <p class="help">رمز عبور جدید خود را دوباره وارد کنید</p>
                </div>
            </div>
            </div>
            <hr>
            <div class="field is-horizontal">
            <div class="field-label is-normal"></div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">
                    ثبت
                    </button>
                </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
</section>
<script>
function uploadAvatar() {
  var form = document.getElementById('profileForm');
  var avatarInput = document.getElementById('avatarInput');
  var loadingMessage = document.getElementById('loadingMessage');
  var successMessage = document.getElementById('successMessage');

  loadingMessage.style.display = 'block';

  var formData = new FormData(form);

  fetch(form.action, {
    method: form.method,
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    loadingMessage.style.display = 'none';

    if (data.success) {
      successMessage.style.display = 'block';
      setTimeout(function() {
        successMessage.style.display = 'none';
        location.reload();
      }, 1000);  // Display success message for 1 seconds
    } else {
      alert('Error uploading file. Please try again.');
    }
  })
  .catch(error => {
    loadingMessage.style.display = 'none';
    alert('Error uploading file. Please try again.');
    console.error('Error:', error);
  });
}
</script>
{% endblock content %}